.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding-top: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#contactWrapper{
    display: flex;
    align-items: center;
}

.wrapper-items{
    display: flex;
    padding-right: 5px;
    font-size: 18px;
}

.portfolioRow {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: row;
}

#nameLogo {
    height: 50px;
}

#name {
    color: rgb(255, 255, 255);
}

#role {
    color: rgb(255, 0, 0);
    font-size: 25px;
}

#intro, #addBackground {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#addBackground {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 11px;
}

#bodyImg {
    height: 250px;
}

.otherRoles {
    display: flex;
    flex-direction: column;
}

#openingNote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
    margin-top: 0px;
    margin-right: 15px;
    font-style: italic;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin-bottom: 2em;
}

#aboutIntro, #aboutHighlights, #aboutIntangibles, #aboutClosing, #signature {
    text-align: left;
    width: 100%;
    margin-left: 5%;
}

#aboutClosing {
    color: rgb(255, 138, 138);
}

#plus {
    font-size: 32px;
    color: rgb(0, 112, 0);
}

#equals {
    margin-left: 25%;
    vertical-align: top;
}

#portfolio {
    display: flex;
    flex-direction: row;
}

#thanksTo {
    font-size: 10px;
}

.contactForm {
    text-align: center;
    max-width: 300px;
    margin: 20px auto;
  }

Form {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
}

#contactWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}