.wrapper {
    width: 100%;
}

.wrapper-items{
    padding-right: 5px;
}

.main {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    height: 100%;
    align-items: center; 
    justify-content: center; 
}

#nameLogo {
    height: 50px;
}

#name {
    color: rgb(255, 255, 255);
}

#roles {
    color: rgb(255, 0, 0);
}

.textString {
    
  padding: 15px;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}