.App {
  text-align: center;
  font-size: 14px;
}

.nav-links-custom{
  margin-left:auto;
}

#footer {
  font-size: 12px;
  text-align: center;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  padding-bottom: 10px;
}


.seperator {
  width: 100%;
}

.controls-wrapper {
  width: 100%;
}

.carousel-wrapper {
  width: 100%;
  background-color: white;
}

div.sc-fubCzh.gXESMI {
  background: white;
  background-color: white;
}

div.sc-jSgvzq.jJOCMs.rec.rec-carousel-wrapper{
  background: rgb(0, 0, 0);
}

button.rec-dot {
  background: white;
}
button.rec-dot_active {
  background: rgb(95, 0, 112);
}
